<% for(var i=0; i < nowPlaying.length; i++) { %>
  <div class="card grow">
  <a href=<%=
    `./showtimes/${nowPlaying[i].movieId}` %>>
    <img class="card-image" src=<%=
    `https://image.tmdb.org/t/p/w200/${nowPlaying[i].poster}` %>></a
  >
    <p class=" card-text"><%=
    `${nowPlaying[i].title}` %>
</p>
</div>
<% } %>
