<div class="nav">
  <p class="nav-header">Tixxly</p>
  <a href="./reserve" class="reserve-button">Reserve Tickets</a>
</div>
<script>
  let reserveButton = document.querySelector(".reserve-button");
  reserveButton.addEventListener("click", () => {
    console.log("hi");
  });
</script>
