<div class="nav">
  <a href="http://localhost:3000/"><p class="nav-header">Tixxly</p></a>
  <div class="nav-links">
    <a class="nav-link" href="http://localhost:3000/#reserve-landing"
      >RESERVE TICKETS</a
    >
    <a class="nav-link" href="#">THEATER MODE</a>
  </div>
</div>
