body {
  padding: 0;
  margin: 0;
  background-color: var(--c-dark);
  color: var(--c-light);
  font-family: var(--f-main);
  --c-dark: #1c1c1c;
  --c-mid: #53565a;
  /* --c-accent: #b2d430; */
  --c-accent: #1089ff;
  /* --c-accent: #f4d800; */
  --c-light: #ecf1f2;
  --f-accent: "Righteous", cursive;
  --f-main: "Montserrat", sans-serif;
  --shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  --filter-light: invert(94%) sepia(16%) saturate(38%) hue-rotate(143deg)
    brightness(99%) contrast(95%);
}
a {
  text-decoration: none;
  color: var(--c-light);
}

.grow {
  transition: all 0.3s ease-in-out;
}

.grow:hover {
  transform: scale(1.05);
}
.nav {
  height: 70px;
  width: 100vw;
  max-width: 100%;
  background-color: black;
  display: flex;
  z-index: 1;
  left: 0;
  top: 0;
  position: fixed;
  padding: 0px 30px;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow);
}
.nav-icons {
  display: flex;
  margin: 0px 60px 0px 0px;
}
.now-playing {
  height: auto;
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  height: 350px;
  width: 260px;
  margin: 15px 10px;
  border-radius: 4px;
  background-color: var(--c-dark);
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow);
}

.card-image {
  height: 350px;
  width: 260px;
  border-radius: 4px;
  object-fit: cover;
}
.nav-header {
  font-size: var(--f-accent);
  font-weight: bold;
  font-size: 2em;
}
.now-playing-header {
  font-size: 2em;
  font-weight: 600;
  font-family: var(--f-main);
  text-transform: uppercase;
  margin: 100px 0px 20px 40px;
  text-align: center;
}
.reserve-button {
  border: none;
  display: grid;
  height: 28px;
  border-radius: 4px;
  padding: 10px;
  background-color: var(--c-accent);
  color: var(--c-light);
  font-size: var(--f-main);
  text-transform: uppercase;
  text-align: center;
  place-items: center;
  text-decoration: none;
  margin: 0px 60px 0px 0px;
}
.ticket-icon {
  filter: var(--filter-light);
  height: 40px;
}
.showtime-image {
  width: 100%;
  max-width: 100%;
  box-shadow: var(--shadow);
}
.showtime-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100%;
  margin: 70px 10px 0px 10px;
  align-items: center;
  flex-grow: 1;
}
.showtime {
  border: none;
  display: flex;
  height: 28px;
  width: 190px;

  border-radius: 4px;
  padding: 15px 10px;
  background-color: var(--c-accent);
  color: var(--c-light);
  font-size: 16px;
  font-family: var(--f-main);
  text-transform: uppercase;
  text-align: center;
  place-items: center;
  text-decoration: none;
}
.showtime-buttons {
  display: flex;
  gap: 12px;
  width: 100vw;
  flex-wrap: wrap;
  margin: 0px 10px 0px 10px;
  max-width: 100%;
  justify-content: center;
}
.showtime-title {
  font-family: var(--f-main);
  font-size: 32px;
  font-weight: 600;
  margin: 20px 30px 20px 30px;
  text-align: center;
}

/* MOBILE */
@media only screen and (max-width: 600px) {
  .grow:hover {
    transform: none;
  }
  .nav {
    bottom: 0;
    top: auto;
    position: fixed;
    display: flex;
    width: 100vw;
    max-width: 100%;
  }
  .now-playing-header {
    margin: 20px 10px 20px 10px;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
  }
  .now-playing {
    margin: 10px 0px 0px 0px;
  }
  .card {
    width: 100vw;
    height: 300px;
    display: flex;
    flex-direction: row;
    margin: 0px 0px 10px 0px;
    max-width: 100%;
    background-color: black;
    box-shadow: var(--shadow);
  }
  .card-text {
    color: var(--c-light);
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    align-self: center;
    margin: 0px 30px;
  }
  .now-playing {
    margin: 15px 0px 0px 0;
  }
  .card-image {
    height: 300px;
    width: 100%;
    border-radius: 4px;
    object-fit: cover;
    object-position: top;
  }
  .showtime-container {
    margin: 0;
  }

  .now-playing-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .now-playing-title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.5rem;
    margin: 30px 0px 10px 0px;
  }
  .choose-title {
    text-transform: uppercase;
    font-size: 1rem;
    margin: 10px 0px;
  }
  .now-playing-text {
    text-align: center;
    background: linear-gradient(
      180deg,
      rgba(16, 137, 255, 1) 0%,
      rgba(2, 93, 185, 1) 100%
    );
    height: 160px;
  }
}
@media only screen and (min-width: 600px) {
  .now-playing-text {
    padding: 70px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .now-playing-title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3rem;
    margin: 43px 0px 10px 0px;
  }
  .choose-title {
    text-transform: uppercase;
    font-size: 1.3rem;
  }
  .card-text {
    display: none;
  }
  .showtime-image {
    height: 100vh;
    width: 60vw;
    object-fit: cover;
    max-width: 100%;
    box-shadow: var(--shadow);
    object-position: top center;
  }
  .now-playing-text {
    text-align: center;
    background: linear-gradient(
      180deg,
      rgba(16, 137, 255, 1) 0%,
      rgba(2, 93, 185, 1) 100%
    );
    height: 200px;
  }
  .showtime-container {
    flex-direction: row;
    margin: 70px 0px 0px 0px;
    max-width: 100%;
  }
  .showtime-panel {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    max-height: 100%;
    padding: 0px 25px 0px 25px;
  }
  .showtime-buttons {
    width: 100%;
    flex-wrap: wrap;
    margin: 0px 10px 0px 10px;
    max-width: 100%;
    justify-content: center;
  }
  .showtime-title {
    margin: 30px 20px 30px 20px;
    font-size: 48px;
  }
  .choose-movie {
    display: flex;
    width: 100vw;
    max-width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .reserve-container {
    margin: 80px 0px 0px 0px;
  }
  .concessions-container {
    margin: 80px 0px 0px 0px;
  }
  .databaseContainer {
    border-collapse: collapse;
    width: 100%;
  }

  .databaseContainer td,
  .databaseContainer th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  .topRow {
    background-color: #1089ff;
  }

  .databaseContainer tr:nth-child(even) {
    background-color: black;
  }

  .databaseContainer th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
  }
}
