<!DOCTYPE html>
<html lang="en">
  <%- include('../templates/header')-%>
  <body>
    <%- include('../templates/nav')-%>
    <div class="contact-header">
      <p class="contact-title">Contact Information</p>
      <p class="contact-text">Please enter your information below</p>
    </div>
    <div class="page-container">
      <div class="contact-container">
        <form action="redirect">
          <p class="section-title">First Name</p>
          <input type="text" class="first-name" />
          <p class="section-title">Last Name</p>
          <input type="text" class="last-name" />
          <p class="section-title">Email</p>
          <input type="text" class="email" />
          <button class="submitButton">Submit</button>
        </form>
      </div>
    </div>
  </body>

  <script src="../js/createTicket.js"></script>
</html>
