<!DOCTYPE html>
<html lang="en">
  <%- include('../templates/header')-%>
  <body>
    <%- include('../templates/nav')-%>
    <div class="now-playing-container">
      <div class="now-playing-text">
        <p class="now-playing-title">Now Playing</p>

        <p class="choose-title">Choose a movie for showtimes</p>
        <i class="fa-solid fa-ticket ticket-icon"></i>
      </div>
      <div class="now-playing"><%- include('../templates/movieRender')-%></div>
    </div>
  </body>
</html>
