<!DOCTYPE html>
<html lang="en">
  <%- include('../templates/header')-%>
  <body>
    <%- include('../templates/nav')-%>

    <p class="now-playing-header">Now Playing</p>
    <div class="now-playing"><%- include('../templates/movieRender')-%></div>
  </body>
</html>
