<!DOCTYPE html>
<html lang="en">
  <%- include('../templates/header')-%>
  <body>
    <%- include('../templates/nav')-%>
    <div class="home-container">
      <div class="hero-container">
        <div class="hero-text">
          <p>Your moviegoing experience</p>
          <p class="accent-text">simplified.</p>
          <p class="secondary-text">
            Browse movies, select showtimes, and order concessions all before
            arriving at the theater.
          </p>
        </div>

        <img class="hero-image" src="images/projector.jpg" alt="" />
      </div>
      <div class="now-playing-container">
        <div class="now-playing-text">
        <p class="now-playing-title">Now Playing</p><div id="reserve-landing"></div>
        <p class="choose-title">Choose a movie for showtimes</p>
      </div>

      <div class="now-playing-movies">
        <%- include('../templates/movieRender')-%>
      </div>
    </div>
    <div class="hero-container bottom-hero">
      <img class="hero-image" src="images/popcorn.jpg" alt="" />
      <div class="hero-text">
        <p class="bottom-accent-text">Hungry?</p>
        <p class="bottom-secondary-text">
          Your concessions will be waiting for you when you arrive.
        </p>
      </div>
    </div>
    <div class="about">
      <div class="about-title">
        <p>About</p>
        <p class="tixxly">Tixxly</p>
      </div>
      <p class="about-secondary">
        Tixxly is a all-in-one platform designed to serve movie theaters and
        their guests.
      </p>
      <div class="about-section">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 576 512"
          class="about-icon"
        >
          <path
            d="M128 160H448V352H128V160zM512 64C547.3 64 576 92.65 576 128V208C549.5 208 528 229.5 528 256C528 282.5 549.5 304 576 304V384C576 419.3 547.3 448 512 448H64C28.65 448 0 419.3 0 384V304C26.51 304 48 282.5 48 256C48 229.5 26.51 208 0 208V128C0 92.65 28.65 64 64 64H512zM96 352C96 369.7 110.3 384 128 384H448C465.7 384 480 369.7 480 352V160C480 142.3 465.7 128 448 128H128C110.3 128 96 142.3 96 160V352z"
          />
        </svg>
        <p>
          Moviegoers can reserve tickets and order concessions in advance using
          the app.
        </p>
      </div>
      <div class="about-section">
        <svg
          class="about-icon"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) -->
          <path
            d="M488 64h-8v20c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12V64H96v20c0 6.6-5.4 12-12 12H44c-6.6 0-12-5.4-12-12V64h-8C10.7 64 0 74.7 0 88v336c0 13.3 10.7 24 24 24h8v-20c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v20h320v-20c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v20h8c13.3 0 24-10.7 24-24V88c0-13.3-10.7-24-24-24zM96 372c0 6.6-5.4 12-12 12H44c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-96c0 6.6-5.4 12-12 12H44c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-96c0 6.6-5.4 12-12 12H44c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm272 208c0 6.6-5.4 12-12 12H156c-6.6 0-12-5.4-12-12v-96c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v96zm0-168c0 6.6-5.4 12-12 12H156c-6.6 0-12-5.4-12-12v-96c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v96zm112 152c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-96c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40zm0-96c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40z"
          />
        </svg>
        <p>
          Theaters can use Tixxly to track attendace and prepare concessions
          ahead of guests' arrival.
        </p>
      </div>
      <p class="about-secondary">
        This full stack application was developed as a project for DigitalCrafts
        coding bootcamp.
      </p>
    </div>
  </body>
</html>
