<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="../style.css" />
  <%- include('../templates/header')-%>
  <body>
    <h1><%= `Showtimes for ${movie.title}` %></h1>
    <img class="showtime-image" src=<%=
    `https://image.tmdb.org/t/p/w200/${movie.poster}` %>>
  </body>
</html>
