<!DOCTYPE html>
<html lang="en">
  <%- include('../templates/header')-%>
  <body>
    <%- include('../templates/nav')-%>
    <div class="theatre-header">
      <p class="theatre-title">Theatre Information</p>
    </div>
    <div class="page-container">
      <div class="theatre-container">
        <a href="http://localhost:3000/theatre/showtimes"
          ><button class="link">Showtimes</button></a
        >
        <a href="http://localhost:3000/theatre/concessions"
          ><button class="link">Concessions</button></a
        >
        <a href="http://localhost:3000/theatre/tickets"
          ><button class="link">Tickets</button></a
        >
      </div>
    </div>
  </body>
</html>
